body {
  background: #eee;
  color: #666666; 
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar {
  padding: 10px;
  margin-bottom: 0px;
}

#signup-link {
    color: #FF8585;
}

.message {
    width: 100%;
    font-size: 20px;
}


.messages li {
    padding: 25px;
}

.message-username {
    background: #FF8585;
}

.message-content {
    width:95%;
    font-size: 20px;
    margin: 5px 20px;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.size13 {
    font-size: 13px;
}

.table {
    padding: 0px;
}

.table td {
    padding: 15px 15px;
    line-height: 1.428571429;
    vertical-align: top;
}
