<template name="dialogue">
    <div class="wrapper">
      {{#each messages _id}}
        {{> messageItem}}
      {{/each}}
    </div>
    <div class="well bs-component">
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-md-10">
          <textarea class="form-control" name="content" hrows="3" id="content" placeholder="..."></textarea>
        </div>
        <div class="col-md-2">
          <button type="submit" value="Submit" class="btn btn-primary">Send Message</button>
        </div>
      </div>
    </form>
    </div>
</template>
