<template name="messageItem">
  {{readMessage _id}}
  <table class="table btn btn-raised btn-info message">
    <tr>
      {{# if noCurrentUser ownerId}}
        <td class="message-username">
          <span>{{username ownerId}} </span>
        </td>
        <td class="message-content left">
          <p class="right size13">Said on {{displayCreateTime createTime}}</p>
          <p>{{content}}</p>
        </td>
      {{else}}
        <td class="message-content right">
          <p class="left size13">Said on {{displayCreateTime createTime}}</p>
          <p>{{content}}</p>
        </td>
        <td class="message-username">
          <span>{{username ownerId}} </span>
        </td>
      {{/if}}
    </tr>
  </table>
</template>
