<template name="userItem">
  {{# if noCurrentUser _id }}
  <a href={{ pathFor 'dialogue' }}>
  <li class="btn btn-raised btn-info message">
    <div class="ripple-container">
    <div class="col-md-1">
    {{# if unAreadlyRead message}}
      <span>·</span>
    {{/if}}
    </div>
      <div class="col-md-3">
          <span>{{username}}</span>
      </div>
      {{# if message }}
      <div class="col-md-4">
          <span>{{displayContent message.content}}</span>
      </div>
      <div class="col-md-4">
        <span>{{displayCreateTime message.createTime}}</span>
      </div>
      {{/if}}
  </div>
  </li>
  </a>
  {{/if}}
</template>
